.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.body {
    background-color:hsl(185, 41%, 84%);
    margin: auto;
    width: 1440px;
}

.main_container {
    background-color: white;
    border: 0px solid;
    border-radius: 24px;
    margin-top: 225px;
    margin-bottom: 195px;
    margin-left: 260px;
    margin-right: 250px;
    height: 500px;
    width: 900px;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

.left_side {
    
}