.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.body {
    background-color:hsl(185, 41%, 84%);
    margin: auto;
    width: 1440px;
}

#logo {
    padding-left: 650px;
    padding-top: 112px;
}

.main_container {
    background-color: white;
    border: 0px solid;
    border-radius: 24px;
    margin-top: 55px;
    margin-bottom: 195px;
    margin-left: 260px;
    margin-right: 250px;
    height: 500px;
    width: 900px;
}

.content {
    display: flex;
    justify-content: center;
}

.left_side {
    display: flex;
    flex-direction: column;
}

.first_part {
    padding-right: 185px;
}

.bill {
    margin-left: -305px;
    margin-top: 40px;
    font-family: 'Space Mono', monospace;
    color: hsl(184, 14%, 56%);
}

.input_1 {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    color: hsl(183, 100%, 15%);
    background: url(images/icon-dollar.svg) left no-repeat;
    border: 0;
    padding: 7px 15px;
    border: 1px solid #ccc;
    position: relative;
    
}

.input_1 ~ .focus-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

.sec_part {
    font-family: 'Space Mono', monospace;
}

.tip {
    margin-left: -505px;
    color: hsl(184, 14%, 56%);
}

#tip {
    margin-left: 200px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 200px;
    width: 324px;

}


.btn1 {
    border: none;
    border-radius: 6px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 35px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.btn2 {
    border: none;
    border-radius: 6px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 35px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.btn3 {
    border: none;
    border-radius: 6px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 35px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.btn4 {
    border: none;
    border-radius: 6px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 32px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.btn5 {
    border: none;
    border-radius: 6px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 35px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.btn6 {
    border: none;
    border-radius: 6px;
    background-color: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 24px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}
