.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.body {
    background-color:hsl(185, 41%, 84%);
    margin: auto;
    width: 1440px;
}

#logo {
    padding-left: 650px;
    padding-top: 112px;
}

.main_container {
    background-color: white;
    border: 0px solid;
    border-radius: 24px;
    margin-top: 55px;
    margin-bottom: 195px;
    margin-left: 260px;
    margin-right: 250px;
    height: 500px;
    width: 900px;
}

.content {
    display: flex;
    justify-content: center;
}

.left_side {
    display: flex;
    flex-direction: column;
}

.first_part {
    padding-right: 185px;
}

.bill {
    margin-left: -305px;
    margin-top: 40px;
    font-family: 'Space Mono', monospace;
    color: hsl(184, 14%, 56%);
}

.input_1 {
    width: 323px;
    height: 35px;
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    background-image: url(images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    text-align: right;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    
}

.sec_part {
    font-family: 'Space Mono', monospace;
}

.tip {
    margin-left: -505px;
    color: hsl(184, 14%, 56%);
}

#tip {
    margin-left: 200px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 200px;
    width: 324px;

}


.btn {
    border: none;
    border-radius: 6px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 35px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.btn:focus {
    background-color: hsl(172, 67%, 45%);
}

.btn4 {
    border: none;
    border-radius: 6px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 30px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.btn4:focus {
    background-color: hsl(172, 67%, 45%);
}


.btn6 {
    border: none;
    border-radius: 6px;
    background-color: hsl(185, 41%, 84%);
    color: hsl(184, 14%, 56%);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 22px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.btn6:focus {
    background-color: hsl(172, 67%, 45%);
}

.third_part {
    padding-left: 205px;
}

.input_2 {
    width: 323px;
    height: 35px;
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    background-image: url(images/icon-person.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    text-align: right;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
}

.right_side {
    border: 0px solid;
    border-radius: 20px;
    background-color: hsl(183, 100%, 15%);
    width: 420px;
    height: 435px;
    margin-left: -100px;
    margin-right: -315px;
    margin-top: 30px;
}

.tip_amount {
    padding-left: 40px;
    padding-top: 30px;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
}

.tip_amount h2 {
    color: white;
}

.tip_amount p {
    color: hsl(184, 14%, 56%);
}

.total {
    padding-left: 40px;
    padding-top: 15px;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
}

.total h2 {
    color: white;
}

.total p {
    color: hsl(184, 14%, 56%);
}

.reset {
    padding-left: 40px;
    padding-top: 65px;
}

.resetbtn {
    border: 0px solid;
    border-radius: 8px;
    background-color: hsl(172, 67%, 45%);
    width: 325px;
    height: 50px;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}